.link{
	text-decoration:none !important;
}
.link:hover{
	color: #f65a8a !important;
}
body{
	background: #efefef;
}
#kz-navbar{
	opacity: 0.8;
}
#kz-navbar .navbar-nav li a{
	font-size: 16px;
	margin-right: 20px;
}
#kz-navbar .navbar-nav li a:hover{
	color: #f507b5;
}
#kz-navbar .navbar-nav .active a{
	background: transparent;
	color: #f65a8a;
}
.container{
	padding: 0;
}
.main{
	margin-top: 70px;
}
#main-caroousel .carousel-inner img{
	width: 100%;
	height: 420px;
}
#main-caroousel{
	margin-bottom: 20px;
}
.ad .thumbnail{
	border: none;
	padding: 0;
	height: 200px;
}
.ad .thumbnail img{
	width: 100%;
	height: 100%;
}
.ad .thumbnail:hover{
	box-shadow: 0 5px 5px;
}
.content-item .panel-heading{
	background: transparent;
	border: none;
}
.content-item:hover .panel-title a {
    color: #f65a8a;
}
.panel-body {
    padding: 15px;
}
.content-item .panel-footer {
    background: transparent;
    border: none;
}
.content-item .panel-footer-text {
    margin-right: 20px;
}
.panel-default {
    border-color: #ddd;
}
.custom-panel .panel-heading {
    background: transparent;
    border: none;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.img-me {
    width: 100px;
    height: 100px;
}
.custom-panel .panel-body {
    background: #f7f7f7;
}
.panel-default {
    border-color: #ddd;
}
.custom-panel .panel-heading {
    background: transparent;
    border: none;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.hot-list .panel-body {
    padding-left: 0;
    padding-right: 0;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.hot-list .list-group-item {
    border: none;
    background: #f7f7f7;
}
.hot-list .list-group-item .link {
    color: #333;
    display: block;
}
.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.custom-panel .panel-heading {
    background: transparent;
    border: none;
}
.custom-panel .panel-body {
    background: #f7f7f7;
}
footer {
    text-align: center;
}