@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,
img {
    border: 0;
}

body {
    font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
    background-color: #E7E7E7;
}

/*yx_rotaion*/
.yx-rotaion {
    left: 50%;
    margin-left: -406px;
}

.yx-rotaion-btn,
.yx-rotaion-title,
.yx-rotation-focus,
.yx-rotation-t,
.yx-rotaion-btn {
    position: absolute
}

.yx-rotation-title {
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #000;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
    left: 0;
    bottom: 0;
    _bottom: -1px;
    z-index: 1
}

.yx-rotation-t {
    color: #fff;
    font-size: 16px;
    font-family: microsoft yahei;
    z-index: 2;
    bottom: 0;
    left: 10px;
    line-height: 40px
}

.yx-rotation-focus span,
.yx-rotaion-btn span {
    background: url(../images/jingling.png) no-repeat;
    display: block;
}

.yx-rotation-focus {
    height: 40px;
    line-height: 40px;
    left: 50%;
    margin-left: -100px;
    top: 310px;
    z-index: 2
}

.yx-rotation-focus span {
    width: 20px;
    height: 20px;
    line-height: 12px;
    float: left;
    margin-left: 5px;
    position: relative;
    top: 14px;
    cursor: pointer;
    background-position: -26px -100px;
    text-indent: -9999px
}

.yx-rotaion-btn {
    width: 100%;
    height: 41px;
    top: 50%;
    margin-top: -20px;
}

.yx-rotaion-btn span {
    width: 30px;
    height: 64px;    
    cursor: pointer;
    position: relative
}

.yx-rotaion-btn .left_btn {
    background-position: -82px -145px;
    float: left;
    left: 10px
}
.yx-rotaion-btn .left_btn:hover{
    background-position: -161px -145px;
    
}
.yx-rotaion-btn .right_btn:hover{
    background-position: -198px -145px;

}
.yx-rotaion-btn .right_btn {
    background-position: -120px -145px;
    float: right;
    right: 10px
}
.yx-rotaion:hover .yx-rotaion-btn{
    display: block;
}
.yx-rotation-focus span.hover {
    background-position: 0px -100px
}

.rotaion_list {
    width: 0;
    height: 0;
    overflow: hidden;
}