/*顶部导航开始*/
	.nav-side{
		height: 31px;
		background: #e3e4e5;

	}
	.nav-side .spacer {
	    overflow: hidden;
	    margin: 11px 5px 0;
	    width: 1px;
	    height: 10px;
	    background-color: #ccc;
	}
	.nav-side .dropdown-loading{
		width: 150px;
		height: 150px;
	}
	.nav-side .dropdown-loading img{
		width: 150px;
		height: 150px;
		position: absolute;
		left: 65px;
	}
	.nav-side a{
		color:#999;
	}
	.nav-side li{
		float: left;
		height: 100%;
		line-height: 31px;
	}
	.nav-side div{
		line-height: 31px; 
	}
	.nav-side .item1{
		margin-right: 10px;
	}
	.nav-left{
		margin-left: 210px;
	}
	.menu-active .dropdown-toggle{
		background: #fff;
		border-left: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7;
	}
	.nav-side .dt {
	    padding-left: 7px;
	    padding-right: 7px;
	}
	.dropdown-layer>div{
		float: left;
	}
	.dorpdown-layer, .dropdown-layer {
		z-index: 3;
	    display: none;
	    position: absolute;
	    border: 1px solid #ccc;
	    background-color: #fff;
	    -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
	    -moz-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
	    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
	}
	.ttbar-myjd .myjdlist {
	    padding: 10px 0 10px 15px;
	    overflow: hidden;
        width: 280px;
	}
	.ttbar-myjd .myjdlist_2{
		border-top:1px solid #ccc;
	}
	.ttbar-myjd .myjdlist .fore1, .ttbar-myjd .myjdlist .fore2 {
	    float: left;
	    width: 126px;
	}
	.ttbar-myjd .dorpdown-layer, .ttbar-myjd .dropdown-layer {
	    left: 0;
	    width: 280px;
	}
/*顶部导航结束*/

/*头部开始*/
	.header{
		background: #f0f3ef;
		height: 140px;
	}
	.logo {
		position: absolute;
	    z-index: 2;
	    left: 0;
	    top: -31px;
	    width: 190px;
	    height: 170px;
	    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
	    background-color: #fff;
	    border-bottom: 1px solid #ededed;
	}
	.logo_scene_img {
	    display: block;
	    width: 100%;
	    height: 100%;
	    background-color: #fff;
	    opacity: 0;
	    filter: alpha(opacity=0);
	    clear: both;
	}
	.form {
	    position: absolute;
	    left: 320px;
	    top: 25px;
	    width: 550px;
	    height: 35px;
	}
	.search{
		position: relative;
	}
	.search-text{
		float: left;
	    left: 0;
	    padding: 4px 44px 4px 4px;
	    width: 450px;
	    height: 25px;
	    border: 1px solid transparent;
	    line-height: 25px;
	    font-size: 14px;
	}
	.search-button{
		float: left;
	    border-radius: 0;
	    right: 0;
	    width: 50px;
	    height: 35px;
	    line-height: 35px;
	    border: none;
	    background-color: #f10215;
	    font-size: 20px;
	    font-weight: 700;
	    color: #fff;
	}
	.search-layer{
		width: 499px;
		position:absolute;
		top:35px;
		left: 0;
		border: 1px solid #ccc;
		border-top:none;
		background: #ffff
	}
	.search-item{
		width: 100%;
		height: 30px;
		line-height: 30px;
		padding:0 10px;
		box-sizing: border-box;
	}
	.search-item:hover{
		background: #eee;
	}
/*头部结束*/
/*主导航开始*/
	.nav-main{
		height: 50px;
		background: #000;
	}
	.nav-main .link{
		display: inline-block;
		line-height: 50px;
		color: #fff;
		font-size: 14px;
		margin-right: 20px;
	}
	.nav-main .link:nth-child(1){
		margin-left: 100px;
	}
/*主导航结束*/
/*焦点开始*/
	.focus{
		height: 504px;
		background: #f7f7f7;
		margin-bottom: 10px;
	}
	.category{
		position: relative;
		width: 208px;
		margin-top: -54px;
	}
	.category-title{
		display: block;
		width: 100%;
		height: 54px;
		line-height: 54px;
		background: #b1191a;
		font-size: 14px;
		color: #fff;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.category-title .icon{
		margin-right: 5px;
	}
	.category .dropdown{
		position: static;
	}
	.category .dropdown-toggle{
		width: 100%;
		height: 36px;
		line-height: 36px;
		box-sizing: border-box;
		background: #ea675a;
		padding-left: 10px;
		cursor: pointer;
	}
	.category .dropdown-link{
		font-size: 14px;
		color: #fff;
	}
	.category .dropdown-icon{
		position: absolute;
		right: 10px;
		color: #fff;
		font-style: normal;
	}
	.category .dropdown-layer{
		/*display: block;*/
		top:54px;
		left:100%;
		width: 774px;
		min-height: 504px;
		background: #fff;
		padding-bottom: 24px;
		box-sizing: border-box;
	}
	.category-details{
		overflow: hidden;
		margin-top: 24px;
		font-size: 14px;
		width: 764px;
	}
	.category-details-title{
		width: 84px;
		text-align: right;
		box-sizing: border-box;
		padding-right: 10px;
		border-right: 1px solid #ccc;
	}
	.category-details-title-link{
		font-weight: bold;
	}
	.category-details-item{
		width: 670px;
		line-height: 20px;
	}
	.category-details-item .link{
		margin-left: 10px;
		display: inline-block;
	}
	.category-active .dropdown-toggle{
		background: #ccc;
	}
	.category-active .dropdown-link,
	.category-active .dropdown-icon{
		color: #ea675a;
	}
	.category .dropdown-loading{
		margin: 220px auto;
	}
	.focus .carousel-wrap,
	.focus .carousel-wrap .carousel-item img {
		width: 728px;
		height: 504px;
	}
/*焦点区域侧边栏开始*/
	.focus .sidebar {
		width: 249px;
	}

	.focus-news {
		padding: 7px 20px 12px;
		background-color: #fff;
		border: 1px solid #d9dde1;
		border-bottom: none;
	}
	.focus-news-head {
		height: 38px;
		line-height: 38px;
	}
	.focus-news-title {
		color: #ea675a;
		font-size: 16px;
	}
	.focus-news-body {
		line-height: 28px;
	}
	.focus-service {
		background-color: #fff;
		border-left: 1px solid #d9dde1;
	}
	.focus-service-item {
		width: 61px;
		height: 71px;
		border-top: 1px solid #d9dde1;
		border-right: 1px solid #d9dde1;
		text-align: center;
	}
	.focus-service-icon,
	.focus-service-text {
		display: inline-block;
		width: 100%;
	}
	.focus-service-icon {
		margin-top: 17px;
		color: #f67272;
		font-size: 22px;
	}
	.focus-service-text {
		margin-top: 6px;
		color: #4d555d;
	}
	.focus-ad {
		width: 100%;
		height: 90px;
		background: url(../images/focus-ad.png) no-repeat;
	}
	.focus .slider{
		margin-left: 8px;
	}	
/*焦点区域侧边栏结束*/		
/*焦点结束*/
/*今日热销开始*/
	.todays{

	}
/*今日热销结束*/
/*楼层1开始*/
	.floor{

	}
/*楼层1结束*/