*{
	margin: 0;
	padding: 0;
}
.center{
	width: 1226px;
	margin-left: auto;
	margin-right: auto;
}
li{
	float: left;
	list-style: none;
}
a{
	text-decoration: none;
	font-size: 12px;
}
a:hover{
	color: white;
}