/*
通用样式
*/



.col1{
	width: 234px;
	float: left;
}
.col2{
	width: 978px;
	float: right;
}
.top4-top2-cn1{
	height: 300px;
    padding-top: 39px;
    border-top-width: 1px;
    border-top-style: solid;
    text-align: center;
    background: #fafafa;
    transition: all .6s;
}

.span-first{
	height: 614px;
}
.span-first img{
	height: 100%;
}
.thumb{
	display: block;
    width: 160px;
    margin: 0 auto 10px;
}

.flag{
	width: 64px;
	background: red;
	z-index: 2;
	height: 20px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -32px;
	box-sizing: border-box;
}

.ad{
	height: 120px;
	margin:28px 0;
}
.ad img{
	height: 100%;
}
.box-hd{
	height: 58px;
	position: relative;
}
.title{
	float: left;
	margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.more{
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
}
.more a{
	width: 96px;
	color: #424242;
	transition: all .4s;
}
.more a:hover{
	color: #ff6700;
}
.more a:hover i{
	background: #ff6700;
}
.more i{
	width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px;
    transition: all .4s;
}
.brick-item-active{
	transition: all .2s linear;
	box-sizing: border-box;
}
.brick-item-active:hover{
	transform: translateY(-2px);
	box-shadow: 0px 14px 5px rgba(0,0,0,0.1);
}
.brick-item-active:hover .review-wrapper{
	height: 76px;
	opacity: 1;
}

.span-last-itme{
	width: 234px;
	height: 143px;
	padding-top: 50px;
	margin-bottom: 14px;
	background: #fff;
	position: relative;
}

.span-last-itme img{
	widows: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top:32px;
}
.span-last-itme h3{
	margin: 10px 110px 5px 30px;
}
.span-last-itme h3 a{
	color: #333;
	display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.span-last-itme .price{
	margin: 0 110px 0 30px;
}
.price{
	color: #ff6700;
}
.figure-more{
	position: absolute;
	right: 35px;
	top: 50px;
}
.figure-more a i{
	color: #ff6700;
	transition: all .2s;
	font-size: 48px;
	background: #fff;
}
.span-last-itme .more{
	display: block;
	position: absolute;
	top: 50px;
	margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}
.more .small{
	display: block;
    font-size: 12px;
    color: #757575;
}


.review-wrapper{
	background: #ff6700;
	position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    background: #ff6700;
    opacity: 0;
    transition: all .2s linear;
}

.review-wrapper a{
	display: block;
	width: 234px;
	padding: 8px 30px;
	font-size: 12px;
	box-sizing: border-box;
	cursor: pointer;
}

.review-wrapper a span{
	display: block;
}
.review-wrapper a span:nth-child(1){
	color: #fff;
	margin-bottom: 5px;
}
.review-wrapper a span:nth-child(2){
	color: rgba(255,255,255,0.6);
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}





.tab-active{
	margin: 0 0 0 30px;
	color: #424242;
	border-bottom: 2px solid transparent;
	transition: border-color .5s,border-bottom .5s;
	cursor: pointer;
	display: inline-block;
}
.tab-active a{
	font-size: 16px;
}
.tab-active:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}

/*通用样式结束*/

/*顶部样式开始*/
.top{
	height: 40px;
	background: #333333;
	line-height: 40px;
	overflow: hidden;
}
.top-top1-span{
	color: #3B423B;
}
.top-top2{
	float: right;
	height: 40px;
	width: 120px;
	background: #424242;
	box-sizing: border-box;
}
.top-top2:hover{
	background: white;
}
.top-top2-i{
	font-size: 20px;
	margin-right: 5px;
}
.top-top2 a{
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.top-top2:hover a{
	color: #ff6700;
}
.top-top3{
	float: right;
	margin-right: 20px;
}
.top-top3-span{
	color: #3B423B;
}
/*顶部样式结束*/
/*导航部分开始*/
.top1{
	height: 100px;
	overflow: hidden;
}
.top1-top1{
	float: left;
	width: 55px;
	height: 55px;
	margin-top: 22px;
	background: #ff6700;
}
.top1-top1 a{
	display: block;
	width: 55px;
	height: 100%;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999em;
}
.top1 .top1-top2{
	float: left;
	margin-left: 190px;
}
.top1-top2 li{
	float: left;
	line-height: 100px;	
	margin-right: 20px;
}
.top1-top2 li a{
	font-size: 16px;
	color: #333;
}
.top1-top2 li a:hover{
	color: #ff6700;
}
.top1-top3{
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 25px;
	position: relative;
}
.top1-top3 .top1-top3-text{
	float: left;
	width: 246px;
	height: 100%;
	border: 1px solid #e0e0e0;
	outline: none;
	padding-left: 10px;
	box-sizing: border-box;
}
.top1-top3-text:hover{
	border-color:#999; 
}
.top1-top3-text:hover + .top1-top3-botton{
	border-color:#999;
}
.top1-top3-text:focus{
	border-color:#ff6700; 
}
.top1-top3-text:focus + .top1-top3-botton{
	border-color:#ff6700;
}
.top1-top3 .top1-top3-botton{
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	border: 1px solid #e0e0e0;
	border-left: none;
	box-sizing: border-box;
	text-align:center;
	font-size: 18px;
}
.top1-top3 .top1-top3-botton:hover{
	background:  #ff6700;
	color: white;
}
.top1-top3 .hot-words{
	position: absolute;
	left:100px;
	line-height: 50px;
}
.top1-top3 .hot-words a{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 0 6px;
	color: #757575;
	background: #eee;
}
.top1-top3 .hot-words a:hover{
	background: #ff6700;
	color: white;
}
.top1-top4{
	resize: none;
	width: 246px;
	height: 300px;
	border: 1px solid #ff6700;
	padding: 10px;
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 49px;
	display: none;
}
.top1-top4 li{
	height: 29px;
	font-size: 13px;
	color: #797773;
	float: none;
}
.top1-top4 span:nth-child(1){

}
.top1-top4 span:nth-child(2){
	float: right;
	margin-right: 0px;
}
/*导航部分结束*/
/*黄金区域开始*/
.top2{
	width: 100%;
	height:460px;
	margin-bottom: 14px;
}
.top2 .top2-top1{
	width: 234px;
	height: 460px;
	background: #64615b;
	padding:20px 0;
	box-sizing: border-box;
	opacity: 0.8;
	position: absolute;
	z-index: 999;
}
.top2 .top2-top1 li{
	float: none;
	height: 42px;
	line-height: 42px;
	font-size:13px; 
	color: #fff;
	font-weight: bold;
	padding:0px 24px 0px 31px;
}
.top2 .top2-top1 li:hover{
	background: #ff6700;
}
.top2 .top2-top1 a{
	color: #fff;
}
.top2 .top2-top1 i{
	float: right;

}
.top2-top2{
	position: relative;
}
.top2-top2 img{
	width:100%;
	height: 100%;
}
.top2-top2 a i{
	line-height: 30px;
	text-align: center;
	width: 20px;
	height: 30px;
	font-size: 20px;
}
.top2-top2 a i:nth-child(1){
	position: absolute;
	left: 233px;
	top:241px;
}
.top2-top2 a i:nth-child(2){
	position: absolute;
	right: 0px;
	top:241px;
}
.top2-top2-box{
	position: absolute;
	right: 0px;
	bottom: 20px;

}
.top2-top2-box li{
	width:5px;
	height: 5px;
	border: 3px solid rgba(0,0,0,0.6);
	background: rgba(0,0,0,0.4);
	border-radius: 50%;
	margin-right: 10px;
}
/*黄金区域结束*/
/*闪购开始*/
.top3{
	height: 170px;
	margin-bottom: 14px;
}
.top3-top1{
	height: 170px;
	background: #5f5750;
}
.top3-top1 li{
	width: 78px;
	height: 85px;
	text-align: center;
}
.top3-top1 li i{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 24px;
}
.top3-top1 .bottom-line:after{
	display: block;
	content: "";
	width: 65px;
	height: 1px;
	background:rgba(0,0,0,0.1);
	margin-left: 6px;
	margin-top: 17px;
}
.top3-top1 .left-line:before{
	display: block;
	position: absolute;
	content: "";
	width: 1px;
	height: 70px;
	background: rgba(0,0,0,0.1);
	margin-left: 0px;
	margin-top: 8px;
}
.top3-top2 img{
	width: 316px;
	height: 170px;
}
.top3-top2 li{
	margin-left: 15px;
}
.top3-top2 .first-img{
	margin-left: 0px;
}
/*闪购结束*/
/*闪购部分开始*/
 .top4{
	height: 564px;
	margin-bottom: 42px;
}
 .top4-top1{
 	overflow: hidden;
 	height: 58px;
 	line-height: 58px;
 }
 .top4-top1-hd h3{
	margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.top4 .top4-top1-bt{
	float: right;
}
.top4 .top4-top1-bt a{
	display: inline-block;
	width: 35px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	margin-left: -6px;
	border: 1px solid #a5a2a2;
}

.top4-top2{
	margin-bottom: 42px;
}
.top4-top2 li{
	margin-right: 14px;
}
.top4 .top4-top2-hd{
	width: 234px;
	height: 341px;
	border-top: 1px solid #e53935;
	text-align: center;
	background: #f1eded;
}
.top4 .top4-top2-hd span{
	display: block;
}
.top4 .top4-top2-hd span:first-child{
	font-size: 20px;
	color: red;
	margin-top: 59px;
	margin-bottom: 34px;
}
.top4 .top4-top2-hd span:nth-child(3){
	color: #8c8a8a;
	font-size: 14px;
	margin-top: 34px;
	margin-bottom: 34px;
}
.top4 .top4-top2-hd .countdown{
	line-height: 46px;
}
.top4 .top4-top2-hd .countdown div{
	display: inline-block;
	width: 46px;
	height: 46px;
	color: #fff;
	font-size: 20px;
	background: #605751;
}
.top4 .top4-top2-hd .countdown span{
	display: inline-block;
	height: 46px;
	line-height: 46px;
	font-size: 16px;
}
.top4-top2-cn1{
	width: 234px;
	height: 300px;
	background: #fff;
	position: relative;
}
.top4-top2-cn1 img{
	height: 160px;
	width: 160px;
}
.top4-top2-cn1 .bg{
	background: rgba(0,0,0,0.02);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.top4-top2-conten{
	text-align: center;
}
.top4-top2-content h3{
	display: block;
	margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    
   	height: 28px;
   	line-height: 28px;
}
.top4-top2-content h3 a{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    font-weight: 400;
	color: #212121;
}
.top4-top2-content .desc{
	display: block;
	width: 194px;
	height: 18px;
	margin:0 18px 18px 18px; 
	font-size: 12px;
	color: #cfcece;
}

.top4-top2-content .price span{
	color: #ff6700;
}



.top4-top2 li:last-child{
	margin-right: 0px;
}
/*闪购部分结束*/
/*手机部分开始*/
.top5{
	height: 6774px;
	padding-top: 22px;
	background: #f5f5f5;
}
.span-second-itme{
	margin-right: 14px;
    padding-top: 16px;
    text-align: center;
    background: #fafafa;
    transition: all .6s;
	width: 234px;
	height: 300px;
	background: #fff;
	position: relative;

}
.span-second-itme img{
	height: 160px;
	width: 160px;
}
.span-second-itme .bg{
	background: rgba(0,0,0,0.02);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.span-second-itme-content{
	text-align: center;
}
.span-second-itme-content h3{
	display: block;
	margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
   	height: 28px;
   	line-height: 28px;
}
.span-second-itme-content h3 a{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    font-weight: 400;
	color: #212121;
}
.span-second-itme-content .desc{
	display: block;
	width: 194px;
	height: 18px;
	margin:0 18px 18px 18px; 
	font-size: 12px;
	color: #cfcece;
}
.span-second-itme-content .price span{
	color: #ff6700;
}
.span-second li:nth-child(1){
	margin-bottom: 14px;
}
.span-second li:nth-child(3){
	margin-bottom: 14px;
}
.span-second li:nth-child(4){
	margin-bottom: 14px;
	margin-right: 0px;
}
.span-second li:nth-child(2){
	margin-bottom: 14px;
}
.span-second li:nth-child(8){
	margin-right: 0px;
}
.span-second{
	margin-bottom: 42px;
}
.top5-box1{
	height: 686px;
}
/*手机部分结束*/
/*家居部分开始*/
.top5-box2 .top5-box2-col1{
	height: 300px;
	width: 234px;
}
.brick-item-m{
	height: 300px;
	width: 234px;
	margin-bottom: 14px;
}

/*家居部分结束*/
/*为你推荐开始*/
.xm-recommend{
	width: 100%;
	height: 320px;
	overflow: hidden;
	display: block;
}
.xm-recommend li{
	height: 300px;
	width:234px;
	margin: 0 14px 14px 0;
	text-align:center;
	background: #fff;
}
.xm-recommend li:last-child{
	margin-right: 0px;
}
.xm-recommend li dl{
	height: 100%;
	padding: 0 20px;
}
.xm-recommend li dt{
	height: 200px;
	padding: 40px 0 14px;
	box-sizing: border-box;
}
.xm-recommend .xm-recommend-name{
	margin-bottom: 10px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.xm-recommend .xm-recommend-price{
	margin-bottom: 10px;
    color: #ff6700;
}

.xm-recommend .xm-recommend-tips{
	position: relative;
	color: #757575;
}












/*为你推荐结束*/
/*热评产品开始*/

.xm-review li{
	height: 415px;
	width: 296px;
	margin-right: 14px;
}
.xm-review li:last-child{
	margin-right: 0px;
}

.xm-review li img{
	width: 296px;
	height: 220px;
	margin-bottom: 28px;
}
.xm-review li .review{
	height: 72px;
    margin: 0 28px 22px;
}
.xm-review li .review a{
	color: #333;
	font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
}
.xm-review li .author{
	position: relative;
    height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}
.info{
	margin: 0 28px;
}
.info h3{
	display: inline-block; 
}
.info h3 a{
	color: #333;
}
.info .price{
	display: inline;
	color: #ff6700;
}



/*热评产品结束*/

.top6{
	height: 272px;
}
.top6 .footer-service{
	height: 80px;
	border-bottom:  1px solid #e0e0e0;
	padding:27px 0 ;
}
.list-service{
	height: 25px;
	text-align: center;
	
}
.list-service li{
	width: 20%;
	border-right:  1px solid #e0e0e0;
	box-sizing: border-box;
	border-right:
}
.list-service li:last-child{
	border-right: none;
}
.list-service a{
	font-size: 16px;
	color: #616161;	
}
.list-service a:hover{
	color:#ff6700;
}
.list-service i{
	font-size: 24px;
	margin-right: 4px;
	vertical-align: -4px;
}
.footer-links{
	padding: 40px 0;
}
.col-links{
	float: left;
	width: 160px; 
	height: 112px;
}
